* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

body {
    margin: 0 10vw;
}

.selection {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-top: 2vh;
}

.selection div {
    height: 12vh;
    width: 12vw;
    /* border: 2px solid black; */
}

div img {
    height: auto;
    width: 100%;
}

/* .character {
    height: auto;
    width: 100%;
} */

/* .sprites.red,
.sprites.blue {
    max-width: 100%;
    height: auto;
} */

.red-cont,
.blue-cont {
    width: 18vw;
}

.red-cont .red {
    width: 75%;
    height: auto;
}

.blue-cont .blue {
    width: 100%;
    height: auto;
}

.pokemon {
    height: auto;
    width: 100%;
    /* border: 2px solid black; */
    /* flex: 0 0 auto; */
}

.vs {
    height: 12vh;
    max-width: 12vw;
    align-self: center;
}

.sprites {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    /* height: 100%;
    width: 100%; */
}

/* .pokemon.player,
.pokemon.rival {
    align-self: center;
} */

.left,
.right {
    align-self: center;
}

.playerSel,
.rivalSel {
    height: 13vh;
    width: 13vw;
}

h1,
p,
.playerSel h2,
.rivalSel h2,
h3 {
    text-align: center;
}
